<div ng-controller="SoaController as SOA" ng-init="SOA.init()">
	<a-module>
		<a-container>
			<a-header>
				<a-row>
					<a-col size='6'>
						<ul class="nav nav-pills">
							<li ng-repeat="opt in SOA.Options" 
							ng-click="SOA.setActOption(opt)" 
							ng-class="{active:SOA.ActiveOpt===(opt)}">
								<a>{{opt}}</a>
							</li>
						</ul>
					</a-col>
					<a-col size="6">
						<o-dropdown-filter ng-model="SOA.Active" show-section="false" show-sem="false" show-period="false" class="pull-right" >
						</o-dropdown-filter>
					</a-col>
				</a-row>
				
			</a-header>
		
			<a-canvas>
				<div class="list-group-item list-group-header">
					<a-row>
						<a-col size="11" ng-show="SOA.ActiveOpt=='Single'">
							<m-search-student ng-model="SOA.Student">
							</m-search-student>
						</a-col>
						<a-col size='11'  ng-show="SOA.ActiveOpt=='Batch'">
							<ul class="nav nav-pills">
								<li ng-repeat="dept in SOA.departments"
									ng-click="SOA.setActiveDept(dept.id)"
									ng-class="{active:SOA.ActiveDept===(dept.id)}">
									<a>{{dept.id}}</a>
								</li>
								
								<div class="btn-group dropdown pull-right" ng-class="{open:SOA.OpenFilter}" >
									<button class="btn btn-default" >
										{{SOA.ActiveSection?SOA.ActiveSection.name : 'Select Section'}}
									</button>
									<button class="btn-default btn dropdown-toggle" type="button" ng-click="SOA.OpenFilter=!SOA.OpenFilter"> 
										<span class="glyphicon glyphicon-filter"></span>
									</button>
									<ul class="dropdown-menu pull-right" ng-class="{scroll:SOA.ActiveYearLevel}">
										<li class="dropdown-header sticky-header" ng-repeat-start="YearLevel in SOA.YearLevels"
																	ng-click="SOA.setActiveYearLevel(YearLevel)">
											<div class="pull-left">
												{{YearLevel.description}}
											</div>
											<div class="pull-right">
												<span class="glyphicon glyphicon-chevron-down"></span>
											</div>
											<div class="clearfix"></div>
										</li>
										<li ng-repeat-end ng-repeat="sect in SOA.Sections | filter:{year_level_id:YearLevel.id,program_id:'!MIXED'}"
										ng-show="SOA.ActiveYearLevel"
										ng-if="SOA.ActiveYearLevel.id===sect.year_level_id">
											<a ng-click="SOA.SetActiveSection(sect)">{{sect.name}}</a>
										</li>
										
									</ul>
								</div>
							</ul>
						</a-col>
						<a-col size="1">
							<button class="btn btn-primary pull-right" ng-click="SOA.printSoa()" ng-show="SOA.ActiveOpt=='Single'" ng-disabled="!SOA.Student">Load SOA</button>
							<button class="btn btn-primary pull-right" ng-click="SOA.BatchPrint()" ng-show="SOA.ActiveOpt=='Batch'" ng-disabled="!SOA.ActiveSection" >Load SOA</button>
						</a-col>
					</a-row>
				</div>
				<div style="height:100%;" ng-show="SOA.Printed && SOA.ActiveOpt=='Single'">
					<form action="api/soa" method="GET" target="SOAframe" id="PrintSoa">
						<input type="hidden" name="account_id" value="{{SOA.Student.id}}"/>
						<input type="hidden" name="sy" value="{{SOA.ActiveSy}}"/>
						<input type="hidden" name="format" value="new">
					</form>
					<iframe name="SOAframe"  id="SOAframe" frameborder="0" style="width:100%;height:100%;display:block;"></iframe>
				</div>
				<div style="height:100%;" ng-show="SOA.Printed && SOA.ActiveOpt=='Batch'">
					<form action="api/soa" method="GET" target="SOAframeBatch" id="PrintSoaBatch">
						<input type="hidden" name="section_id" value="{{SOA.ActiveSection.id}}"/>
						<input type="hidden" name="sy" value="{{SOA.ActiveSy}}"/>
						<input type="hidden" name="sem" value="{{SOA.ActiveSem}}"/>
						<input type="hidden" name="dept" value="{{SOA.ActiveDept}}"/>
						<input type="hidden" name="format" value="new">
					</form>
					<iframe name="SOAframeBatch"  id="SOAframeBatch" frameborder="0" style="width:100%;height:100%;display:block;"></iframe>
				</div>
				
			</a-canvas>
		</a-container>
	</a-module>
</div>