<div ng-controller="SoaController as SOA" ng-init="SOA.init()">
	<a-module>
		<a-container>
			<a-header>
				<a-row>
					<a-col size="11">
						<m-search-student ng-model="SOA.Student">
						</m-search-student>
					</a-col>
					<a-col size="1">
						<button class="btn btn-primary pull-right" ng-click="SOA.printSoa()" >Load SOA</button>
					</a-col>
				</a-row>
			</a-header>
		
			<a-canvas>
				<div style="height:100%;" ng-show="SOA.Printed">
					<form action="api/soa" method="GET" target="SOAframe" id="PrintSoa">
						<input type="hidden" name="account_id" value="{{SOA.Student.id}}"/>
					</form>
					<iframe name="SOAframe"  id="SOAframe" frameborder="0" style="width:100%;height:100%;display:block;"></iframe>
				</div>
				
			</a-canvas>
		</a-container>
	</a-module>
</div>