<div ng-controller="BookletController" ng-init="list()">
	<button class="btn btn-primary btn-fab top right fixed" ng-click="openModal()">
	<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
	</button>
	<div class="row">
		<div class="col-md-6">
			<div class="list-group">
				<div class="list-group-item list-group-header">
					<div class="btn-group btn-group-sm pull-right" uib-dropdown>
						<button class="btn btn-default disabled">{{FirstItem}} - {{LastItem}} of {{TotalItems}}</button>
						<button class="btn btn-default" ng-disabled="!PrevPage || DataLoading" ng-click="navigatePage(PrevPage)"><span class="glyphicon glyphicon-chevron-left"></span></button>
						<button class="btn btn-default" ng-disabled="!NextPage || DataLoading" ng-click="navigatePage(NextPage)"><span class="glyphicon glyphicon-chevron-right"></span></button>
						
						  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" uib-dropdown-toggle>
							<span class="glyphicon glyphicon-filter"></span>
						  </button>
						  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
							<li><a href="#/">Sort</a></li>
							<li><a href="#/">Filter</a></li>
							<li><a href="#/">Go to Page</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#/">Some other link</a></li>
							
						  </ul>
					</div>
					<label class="clear-fix">Booklets</label>
				</div>
				<div class="list-group-canvas list-group-search-results" >
					<div class="list-group-item text-center" ng-if="searchBooklet">
						<h4 class="list-group-item-heading">Search result(s) for <b><i>{{searchBooklet}}</i></b>.</h4>
						<p class="list-group-item-text">
							Click the <span class="glyphicon glyphicon-search" aria-hidden="true"></span> to look further.
							Click the <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> to cancel.
						</p>
					</div>
					<div class="list-group-item ng-class:{active: booklet.series_counter === ActiveBook.series_counter}" ng-hide="DataLoading" ng-repeat="booklet in Booklets | filter:filterBooklet" ng-click="SetActiveBook(booklet)">
						<div class="row">
							<div class="col-md-8">
								<h4 class="list-group-item-heading" >{{booklet.series_start}} - {{booklet.series_end}}</h4>
								<p class="list-group-item-text">
								<span>{{booklet.status}}</span> | <span>{{booklet.cashier}}</span></p>
							</div>
							<div class="col-md-4" ng-if="booklet.status==='inactive'">
								<h4 class="pull-right"><span class="label label-danger">Inactive</span></h4>
							</div>
						</div>
					</div>
					<div class="list-group-item text-center" ng-if="!Booklets.length || DataLoading">
						Loading...
					</div>
				</div>
				<div class="list-group-item list-group-search-box">
					<div class="input-group"> 
						<div class="input-group-btn"><button class="btn btn-default" ng-click="confirmSearch()"><span class="glyphicon glyphicon-search"></span></button></div>
						<input type="text" class="form-control" placeholder="Search" ng-model="searchBooklet"/>
						<div class="input-group-btn"><button class="btn btn-default" ng-click="clearSearch()"><span class="glyphicon glyphicon-remove"></span></button></div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="list-group">
				<div class="list-group-item list-group-header">
					<label ng-if="Booklet">{{ActiveBook.series_counter}}</label>
					<label ng-if="!Booklet">Booklet Information</label>
					<div class="pull-right">
						<div class="btn-group btn-group-xs" uib-dropdown>
							  <button class="btn btn-default dropdown-toggle" type="button"  uib-dropdown-toggle>
								<span class="glyphicon glyphicon-chevron-down"></span>
							  </button>
							  <ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu1">
								<li><a>Edit</a></li>
								<li><a>Print</a></li>
								<li><a ng-click="activateBooklet(Booklet.id)">Activate</a></li>
								<li><a ng-click="deactivateBooklet(Booklet.id)">Deactivate</a></li>
							  </ul>
						</div>
						<button class="btn btn-xs btn-danger" ng-click="removeBookletInfo()"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
					</div>
				</div>
				<div class="list-group-canvas">
					<div class="list-group-item list-group-header" ng-show="hasInfo">
						<h5>Booklet Information</h5>
					</div>
					<div class="list-group-item" ng-show="hasInfo">
						<dl class="dl-horizontal">
								<dt>Status</dt>
								<dd>{{ActiveBook.status}}</dd>
								<dt>Cashier</dt>
								<dd>{{ActiveBook.cashier}}</dd>
								<dt>Series No.</dt>
								<dd>{{ActiveBook.series_start}} - {{ActiveBook.series_end}}</dd>
								<dt>Current Series No.</dt>
								<dd>{{ActiveBook.series_counter}}</dd>
						</dl>
					</div>
					<div class="list-group-item list-group-header" ng-show="hasInfo">
						<h5>Transactions</h5>
					</div>
					<div class="list-group-item" ng-show="hasInfo">
						<a-pager meta="Meta" on-navigate="gotoPage" style="margin-bottom:10px;" class="pull-right"></a-pager>
						<a-table headers="TranxHeaders" props="TranxProps" data="Transactions" ></a-table>
					</div>
					<div class="list-group-item" ng-show="hasNoInfo">
						<div class="well">
							<span>No Information</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<a-modal id="AddBooklet" title="Booklet Information" >
			<a-modal-body>
				<a-row>
					<a-col>
						<label for="">Cashier</label>
						<select name="" id="" class="form-control" ng-options="cash as cash.employee_name for cash  in Cashiers" 
								ng-model="Cash" ng-change="assign(Cash)">
								<option value="" > Unassigned</option>
						</select>
					</a-col>
				</a-row>
				<a-row style="margin-top:10px; ">
					<!-- <a-col size="3" >
						<label for="">Booklet No.</label>
						<input type="number" class="form-control" ng-model="book.booklet_number"  />
					</a-col>
					<a-col size="3" >
						<label for="">Start</label>
						<input type="number" class="form-control" ng-model="book.series_start" ng-change="change(book.series_start)" />
					</a-col>
					<a-col size="3" >
						<label for="">End</label>
						<input type="number" class="form-control" ng-model="book.series_end" min="{{book.series_start}}" />
					</a-col>
					<a-col size="3" >
						<label for="">Counter</label>
						<div class="input-group">
							<input type="number" class="form-control" ng-model="ctr" disabled />
							<div class="input-group-btn">
								<button class="btn btn-success" ng-click="addBooklet(book)">
									<span class="glyphicon glyphicon-plus"></span>
								</button>
							</div>
						</div>
					</a-col> -->
					<a-col style="margin-top:20px;">
						<m-table-edit headers="Headers" props="Props" data="BookDetails" inputs="inputs" ng-model="book" on-edit-save="applyEdit" ></m-table-edit>
					</a-col>
				</a-row> 
				<!-- <a-row ng-show="BookDetails.length" style="margin-top: 20px;">
					<a-col>
						<a-table headers="Headers" props="Props" data="BookDetails" ></a-table>
					</a-col>
				</a-row> -->
			</a-modal-body>
			<a-modal-footer>
				<button class="btn btn-default pull-left" ng-click="Cancel()" >Cancel</button>
				<button class="btn btn-primary" ng-disabled="!book.length" ng-click="SaveBooklet()" ng-show="!Saving" >Confirm</button>
				<button class="btn btn-primary" disabled ng-show="Saving" >Saving...</button>
			</a-modal-footer>
		</a-modal>
	</div>
</div>