<div ng-controller="AccountController" ng-init="list()">
	<button class="btn btn-primary btn-fab top right fixed" ng-click="openAccountModal()">
	<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
	</button>
    <div class="row">
        <div class="col-md-6">
            <div class="list-group">
                <div class="list-group-item list-group-header">
                    <div class="btn-group btn-group-sm pull-right" uib-dropdown>
                        <button class="btn btn-default disabled">{{FirstItem}} - {{LastItem}} of {{TotalItems}}</button>
                        <button class="btn btn-default" ng-disabled="!PrevPage || DataLoading" ng-click="navigatePage(PrevPage)"><span class="glyphicon glyphicon-chevron-left"></span></button>
                        <button class="btn btn-default" ng-disabled="!NextPage || DataLoading" ng-click="navigatePage(NextPage)"><span class="glyphicon glyphicon-chevron-right"></span></button>

                        <button class="btn btn-default dropdown-toggle hidden" type="button" id="dropdownMenu1" uib-dropdown-toggle>
							<span class="glyphicon glyphicon-filter"></span>
						  </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="#/">Sort</a></li>
                            <li><a href="#/">Filter</a></li>
                            <li><a href="#/">Go to Page</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#/">Some other link</a></li>

                        </ul>
                    </div>
                    <label class="clear-fix">Accounts</label>
                </div>
                <div class="list-group-canvas list-group-search-results">
                    <div class="list-group-item text-center" ng-if="searchAccount">
                        <h4 class="list-group-item-heading">Search result(s) for <b><i>{{searchAccount}}</i></b>.</h4>
                        <p class="list-group-item-text">
                            Click the <span class="glyphicon glyphicon-search" aria-hidden="true"></span> to look further. Click the <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> to cancel.
                        </p>
                    </div>
                    <div class="list-group-item" ng-hide="DataLoading" ng-class="{active: account.id===Account.id}" ng-repeat="account in Accounts | filter:{name:SearchWord}" ng-if="Accounts.length" ng-click="openAccountInfo(account)">
                        <h4 class="list-group-item-heading">{{account.name}}</h4>
                        <p class="list-group-item-text"><span>Acct. no:{{account.id}}</span> | <span>Balance: {{account.outstanding_balance | currency: 'P'}}</span></p>
                    </div>
                    <div class="list-group-item text-center" ng-if="!Accounts.length || DataLoading">
                        Loading...
                    </div>
                </div>
                <div class="list-group-item list-group-search-box">
					<div class="input-group"> 
						<div class="input-group-btn"><button class="btn btn-default" ng-click="SearchStudent()"><span class="glyphicon glyphicon-search"></span></button></div>
						<input type="text" class="form-control" placeholder="Search Student" focus="ActiveStep==1&&!__SIDEBAR_OPEN" ng-model="SearchWord"/>
						<div class="input-group-btn"><button class="btn btn-default" ng-click="ClearSearch()" ng-show="Search"><span class="glyphicon glyphicon-remove"></span></button></div>
					</div>
				</div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="list-group">
                <div class="list-group-item list-group-header">
                    <label ng-if="Account">{{Account.name}}</label>
                    <label ng-if="!Account">Account Information</label>
                    <div class="pull-right">
                        <div class="btn-group btn-group-xs hidden " uib-dropdown>
                            <button class="btn btn-default dropdown-toggle" type="button" uib-dropdown-toggle>
							<span class="glyphicon glyphicon-chevron-down"></span>
						  </button>
                            <ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu1">
                                <li><a ng-click="openModal(Account.back_log)">Change Payment Scheme</a></li>
                                <li><a ng-click="deleteAccounts(Account.id)">Close Account</a></li>
                            </ul>
                        </div>
                        <button class="btn btn-xs btn-danger" ng-click="removeAccountInfo()"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    </div>

                </div>
                <div class="list-group-canvas">
                    <div class="list-group-item list-group-header" ng-show="hasInfo">
                        <h5>Accounts Information</h5>
                    </div>
                    <div class="list-group-item" ng-show="hasInfo">
                        <dl class="dl-horizontal">
                            <dt>Account No.</dt>
                            <dd>{{Account.id}}</dd>
                            <dt>Account Type</dt>
                            <dd>{{Account.account_type}}</dd>
                            <dt>Account Name</dt>
                            <dd>{{Account.name}}</dd>
                            <dt>Payment Scheme</dt>
                            <dd>{{Account.payment_scheme}}</dd>
                            <dt>Outsanding Balance</dt>
                            <dd>P {{Account.outstanding_balance | currency}}</dd>
                            <!--<dt>Account BackLog</dt>
								<dd>{{Account.back_log}}</dd>
								-->

                        </dl>
                    </div>
                   <!--  <div class="list-group-item list-group-header" ng-show="hasInfo">
                        <h5>Backlog</h5>
                    </div>
                    <div class="list-group-item" ng-show="hasInfo">
                        <table class="table table-condensed table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-center">Transaction #</th>
                                    <th class="text-center">Referrence #</th>
                                    <th class="text-center">Amount</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="back_log in Account.back_log">
                                    <td class="text-center">{{back_log.transaction_no}}</td>
                                    <td class="text-center"> {{back_log.ref_no}}</td>
                                    <td class="text-right">{{back_log.amount}}</td>
                            </tbody>
                        </table>
                    </div> -->

                    <div class="list-group-item list-group-header" ng-show="hasInfo">
                        <h5>Payment Breakdown</h5>
                    </div>
                    <div class="list-group-item" ng-show="hasInfo">
                        <table class="table table-condensed table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-center">Fee</th>
                                    <th class="text-center">Amount</th>
                                    <th class="text-center">Paid</th>
                                    <th class="text-center">Balance</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="fee in Fees">
                                    <td>{{fee.fee}}</td>
                                    <td class="amount total ">{{fee.due_amount | currency}}</td>
                                    <td class="amount total ">{{fee.paid_amount | currency}}</td>
                                    <td class="amount total ">{{fee.due_amount - fee.paid_amount | currency}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="list-group-item list-group-header" ng-show="hasInfo">
                        <h5>Payment Schedule</h5>
                    </div>
                    <div class="list-group-item" ng-show="hasInfo">
                        <table class="table table-condensed table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-center">Billing Period</th>
                                    <th class="text-center">Due Date</th>
                                    <th class="text-center">Due Amount</th>
                                    <th class="text-center">Paid Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="schedule in Scheds">
                                    <td>{{schedule.bill_month}}</td>
                                    <td>{{schedule.due_date | date: 'dd MMM yyyy'}}</td>
                                    <td class="amount total ">{{schedule.due_amount | currency}}</td>
                                    <td class="amount total ">{{schedule.paid_amount | currency}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="list-group-item list-group-header" ng-show="hasInfo">
                        <h5>Payment History</h5>
                    </div>
                    <div class="list-group-item" ng-show="hasInfo">
                        <table class="table table-condensed table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-center">Date</th>
                                    <th class="text-center">Ref No.</th>
                                    <th class="text-center">Details</th>
                                    <th class="text-center">Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="history in Histories | filter:{details: '!'+'ESC',details: '!'+'QVR',details: '!'+'PUBLIC'}">
                                    <td>{{history.transac_date | date:'dd MMM yyyy'}}</td>
                                    <td>{{history.ref_no}}</td>
                                    <td>{{history.details}}</td>
                                    <td class="amount total ">{{history.amount | currency}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="list-group-item" ng-show="hasNoInfo">
                        <div class="well">
                            <span>No Information</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/ng-template" id="myModalContent.html">
            <div class="modal-header">
                <h3 class="modal-title">Change Payment Scheme</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered table-condensed">
                            <thead>
                                <tr>
                                    <th class="text-center col-md-5">Transaction No.</th>
                                    <th class="text-center col-md-3">Ref No.</th>
                                    <th class="text-center col-md-3">Amount</th>
                                    <th class="text-center col-md-1"></th>
                                </tr>
                                <tr>
                                    <td><input type="text" placeholder="Transaction No" class="form-control" ng-model="transaction_no" /></td>
                                    <td><input type="text" placeholder="Ref No." class="form-control" ng-model="ref_no" /></td>
                                    <td><input type="number" placeholder="0.00" class="form-control" ng-model="amount" /></td>
                                    <td><button class="btn btn-success" ng-click="newEntry()"><span class="glyphicon glyphicon-plus"></span></button></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="back_log in BackLog track by $index">
                                    <td>{{back_log.transaction_no}}</td>
                                    <td>{{back_log.ref_no}}</td>
                                    <td>{{back_log.amount}}</td>
                                    <td class="text-center">
                                        <button class="btn btn-danger" ng-click="removeEntry($index)" ng-disabled="">
											<span class="glyphicon glyphicon-remove"></span>
										</button>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td><b>Total</b></td>
                                    <td>&nbsp;</td>
                                    <td>
                                        <div class="amount "><b>{{ totalAmount() | currency }}</b></div>
                                    </td>
                                    <td>&nbsp;</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="confirmAction()">Confirm</button>
                <button class="btn btn-default pull-left" type="button" ng-click="cancelChangeScheme()">Cancel</button>
            </div>
        </script>
		
		 <script type="text/ng-template" id="AccountModal.html">
            <div class="modal-header">
                <h3 class="modal-title">New Student Account</h3>
            </div>
            <div class="modal-body">
                <uib-tabset type="tabs" active="activeJustified"  active="ActiveTabIndex">
                    <uib-tab index="0" heading="Account Info">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Student Number</label>
                                    <input class="form-control" type="text" ng-model="Account.sno" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Last Name</label>
                                    <input class="form-control" type="text" ng-model="Account.last_name" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>First Name</label>
                                    <input class="form-control" type="text" ng-model="Account.first_name" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Middle Name</label>
                                    <input class="form-control" type="text" ng-model="Account.middle_name" />
                                </div>
                            </div>
                            
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Section</label>
                                    <input class="form-control" type="text" ng-model="Account.section" />
                                </div>
                            </div>
                          </div>
                    </uib-tab>
                    <uib-tab index="1" heading="Schedule">

                    </uib-tab>
                    <uib-tab index="2" heading="Ledger">
                    </uib-tab>
                </uib-tabset>
			</div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="confirmAction()">Confirm</button>
                <button class="btn btn-default pull-left" type="button" ng-click="closeModal()">Close</button>
            </div>
        </script>

        <div ng-controller="AccountModalController as AMC" ng-init="AMC.init()">
            <form name="AccountInfoForm">
            <a-modal id="AccountModal" title="Student Account">
                <a-modal-body>

                    <uib-tabset type="tabs" active="activeJustified"  active="ActiveTabIndex">
                    <uib-tab index="0" heading="Account Info">
                        <a-row>
                            <a-col size="6">
                                <m-formgroup ng-model="AMC.Account.sno" label="Student Number" ng-required="true"></m-formgroup>
                            </a-col>
                            <a-col size="6">
                                <m-formgroup ng-model="AMC.Account.section_id" label="Section" options="AMC.Sections" option-group="year_level_id" ng-required="true"></m-formgroup>
                            </a-col>
                        </a-row>
                         <a-row>
                            <a-col>
                                <m-formgroup ng-model="AMC.Account.last_name" label="Last Name" ng-required="true"></m-formgroup>
                            </a-col>
                        </a-row>
                        <a-row>
                            <a-col>
                                <m-formgroup ng-model="AMC.Account.first_name" label="First Name" ng-required="true"></m-formgroup>
                            </a-col>
                        </a-row>
                        <a-row>
                            <a-col>
                                <m-formgroup ng-model="AMC.Account.middle_name" label="Middle Name"></m-formgroup>
                            </a-col>
                        </a-row>
                           
                    </uib-tab>
                     <uib-tab index="1" heading="Fees">
                         <m-table-edit headers="AMC.LedgerHeaders" props="AMC.LedgerProps" data="AMC.LedgerData" inputs="AMC.LedgerInputs" on-edit-save="AMC.updateLedger" max-height="'300px'"  ></m-table-edit>
                    </uib-tab>
                    <uib-tab index="3" heading="Pay Sched">
                        <a-row>
                            <a-col size="4">
                                <m-formgroup ng-model="AMC.Account.date_enrolled" label="Date Enrolled" type="'date'" />
                            </a-col>
                            <a-col size="4">
                                <m-formgroup ng-model="AMC.Account.last_billing" label="Last Billing" type="'date'"/>
                            </a-col>
                            <a-col size="4">
                                <a-button type="default-block" style="margin-top:25px;" ng-click="AMC.computeSched()">
                                    Run Schedule
                                </a-button>
                            </a-col>
                        </a-row>
                        <m-table-edit headers="AMC.SchedHeaders" props="AMC.SchedProps" data="AMC.SchedData" inputs="AMC.SchedInputs" allow-add="false"  allow-del="false"on-edit-save="AMC.updateSched"  ></m-table-edit>
                        <hr/>
                        <h5>Fee Breakdown</h5>
                        <a-table headers="AMC.FeeDistHdrs" props="AMC.FeeDistProps" data="AMC.FeeDistData" is-preload="false"  ></a-table>

                    </uib-tab>
                </uib-tabset>
                </a-modal-body>
                <a-modal-footer>
                <a-row>
                    <a-col>
                        <a-button opt-class="pull-left" ng-click="AMC.closeModal()">Close</a-button>
                        <a-button type="primary"ng-click="AMC.confirmAction(AccountInfoForm)" ng-disabled="!AMC.isAccountObjValid">
                            Confirm
                    </a-button>
                    </a-col>
                </a-row>
            </a-modal-footer>
            </a-modal> 
            </form>
        </div>
    </div>
</div>