<style>
	.nav-pills>li{margin-bottom:20px;}
	div[label$="Balance"] input,div[label$="Total"] input,div[label$="Amount"] input{text-align:right;}
</style>
<div ng-controller="AdjustMemoController as AMC" ng-init="AMC.init()">
	<a-module>
		<a-container>
			<a-header is-main="true">
				<m-search-entity  ng-model="AMC.ActiveStudent" endpoint="'students/search'" search-fields="['first_name','last_name','middle_name','sno','rfid']" obj-fields="AMC.StudFields" is-large="true" display-field="'display_name'"/>
			</a-header>
			<a-canvas>
				<a-content>
					<a-row>
						<a-col size="4">
							<a-row>
								<a-col size="6">
									<m-formgroup ng-model="AMC.ActiveSY" options="AMC.SchoolYears" label="School Year" option-label="label" ng-disabled="!AMC.ActiveStudent.id"></m-formgroup>
								</a-col>
							</a-row>
							<a-row>
								<a-col size="6">
									<m-formgroup ng-model="AMC.OutBalance" label="Outstanding Balance" classes="text-right"  ng-disabled="true"></m-formgroup>
								</a-col>
								<a-col size="6">
									<m-formgroup ng-model="AMC.PayTotal" label="Payment Total"  ng-disabled="true"></m-formgroup>
								</a-col>
							</a-row>

						</a-col>
						<a-col size="6">
							<a-row>
								<a-col size="8">
									<m-formgroup ng-model="AMC.AdjustType" label="Adjusting Memo" options="AMC.AMTypes" ng-disabled="!AMC.allowInput" size="'input-lg'"></m-formgroup>
								</a-col>
								<a-col size="4">
									<m-formgroup ng-model="AMC.AdjustAmount" label="Amount" type="'number'" ng-show="AMC.allowInput" size="'input-lg'"></m-formgroup>
									<m-formgroup ng-model="AMC.AdjustAmountDisp" label="Amount" ng-disabled="!AMC.allowInput" ng-show="!AMC.allowInput"size="'input-lg'"></m-formgroup>
								</a-col>
							</a-row>
						</a-col>
						<a-col size="2">
							<div style="margin-top:24px;">
								<a-button type="primary-block" ng-click="AMC.computeAdjust()" size="lg" ng-disabled="!AMC.allowCompute">
									Compute
								</a-button>
							</div>
						</a-col>
					</a-row>
					<hr>
					<a-row>
						<a-col size="10">
							<uib-tabset type="pills" active="AMC.ActiveTabIndex">
								<uib-tab index="0" heading="Ledger Entries">
									<a-row>
										<a-col size="4">
											<a-row>
												<a-col size="7">
													<m-formgroup ng-model="AMC.LERunBalanceDisp" label="Ledger Balance" ng-disabled="true"></m-formgroup>
												</a-col>
											</a-row>
										</a-col>
									</a-row>

									<a-table headers="AMC.LEHdrs" props="AMC.LEProps" data="AMC.LEData" ng-model="AMC.LEActiveItem" is-preload="false"></a-table>
								</uib-tab>

								<uib-tab index="1" heading="Payment Schedule">

									<a-row>
										<a-col size="4">
											<a-row>
												<a-col size="7">
													<m-formgroup ng-model="AMC.PSRunBalanceDisp" label="Paysched Balance" ng-disabled="true"></m-formgroup>
												</a-col>
											</a-row>
										</a-col>
									</a-row>
									<a-table headers="AMC.PSHdrs" props="AMC.PSProps" data="AMC.PSData" ng-model="AMC.PSActiveItem" is-preload="false"></a-table>
								</uib-tab>

								<uib-tab index="2" heading="Statement of Account">
									<div style="height: 500px;" ng-show="AMC.ActiveStudent.id">
										<form action="api/soa" method="GET" target="SOAframe" id="PrintSoa">
											<input type="hidden" name="account_id" value="{{AMC.ActiveStudent.id}}"/>
											<input type="hidden" name="sy" value="{{AMC.ActiveSY}}"/>
										</form>
										<iframe name="SOAframe"  id="SOAframe" frameborder="0" style="width:100%;height:100%;display:block;"></iframe>
									</div>
									<div class="empty-state" ng-hide="AMC.ActiveStudent.id">
										<div class="well text-center">
											<div class="empty-state-icon text-center">
												<i class="glyphicon glyphicon-list-alt"></i>
											</div>
											<h4>Select Student to view SOA</h4>
										</div>
									</div>
								</uib-tab>
							</uib-tabset>
						</a-col>
						<a-col size="2">
								<a-button type="success btn-block" size="lg" ng-click="AMC.applyAdjust()" ng-disabled="!AMC.allowApply">
									{{AMC.SavingAdjust?'Saving...':(AMC.changesApplied?'SAVED!':'Apply Changes')}}
								</a-button>	
								<a-button type="default-block" ng-click="AMC.clearAdjust()" ng-disabled="!AMC.allowClear">
									Revert
								</a-button>
						</a-col>
					</a-row>
				</a-content>
			</a-canvas>
		</a-container>
	</a-module>
	<a-modal id="AdjustMemoModal" title="Adjustment Memo">
		<a-modal-body>
			<a-row>
				<a-col size="6">
					<m-formgroup ng-model="AMC.AdjRefNo" label="Ref No" size="'input-lg'" ng-change="AMC.checkRefNo()"></m-formgroup>
				</a-col>
				<a-col size="6">
					<m-formgroup ng-model="AMC.AdjDate" label="Adjustment Date" type="'date'" size="'input-lg'"></m-formgroup>
				</a-col>
			</a-row>
			<a-row>
				<a-col>
					<m-formgroup ng-model="AMC.ActiveStudent.name" label="Student"ng-disabled="true"></m-formgroup>
				</a-col>
			</a-row>
			<a-row>
				<a-col size="6">
					<m-formgroup ng-model="AMC.LEActiveItem.description" label="Adjusting Memo" ng-disabled="true"></m-formgroup>
					
				</a-col>
				<a-col size="6">
					<m-formgroup ng-model="AMC.AdjustAmountDisp" label="Amount" ng-disabled="true"></m-formgroup>
				</a-col>
			</a-row>
		</a-modal-body>
		<a-modal-footer>
			<a-button type="default" class="pull-left" ng-click="AMC.closeAdjModal()">Cancel</a-button>
			<a-button type="primary" ng-click="AMC.confirmAdjModal()">Confirm</a-button>
		</a-modal-footer>
	</a-modal>

	<form action="api/receipts/view" method="POST" target="_blank" id="PrintAdjustReceipt">
		<input type="hidden" name="details" value="{{AMC.PrintDetails}}"/>
	</form>
</div>