<style>
	.nav-pills>li{margin-bottom:20px;}
</style>
<div ng-controller="AdjustMemoController as AMC" ng-init="AMC.init()">
	<a-module>
		<a-container>
			<a-header is-main="true">
				<m-search-entity  ng-model="AMC.ActiveStudent" endpoint="'students/search'" search-fields="['first_name','last_name','middle_name','sno','rfid']" obj-fields="AMC.StudFields" is-large="true" display-field="'display_name'"/>
			</a-header>
			<a-canvas>
				<a-content>
					<a-row>
						<a-col size="4">
							<a-row>
								<a-col size="6">
									<m-formgroup ng-model="AMC.ActiveSY" options="AMC.SchoolYears" label="School Year" option-label="label" ng-disabled="!AMC.ActiveStudent.id"></m-formgroup>
								</a-col>
							</a-row>
							<a-row>
								<a-col size="6">
									<m-formgroup ng-model="AMC.OutBalance" label="Outstanding Balance"  ng-disabled="true"></m-formgroup>
								</a-col>
								<a-col size="6">
									<m-formgroup ng-model="AMC.PayTotal" label="Payment Total"  ng-disabled="true"></m-formgroup>
								</a-col>
							</a-row>

						</a-col>
						<a-col size="6">
							<a-row>
								<a-col size="6">
									<m-formgroup ng-model="AMC.AdjustType" label="Adjusting Memo" options="AMC.AMTypes" ng-disabled="!AMC.allowInput"></m-formgroup>
								</a-col>
								<a-col size="6">
									<m-formgroup ng-model="AMC.AdjustAmount" label="Amount" type="'number'" ng-disabled="!AMC.allowInput"></m-formgroup>
								</a-col>
							</a-row>
						</a-col>
						<a-col size="2">
							<div style="margin-top:24px;">
								<a-button type="primary-block" ng-click="AMC.computeAdjust()" ng-disabled="!AMC.allowCompute">
									Compute
								</a-button>
								<a-button type="default-block" ng-click="AMC.clearAdjust()" ng-disabled="!AMC.allowClear">
									Clear
								</a-button>
							</div>
						</a-col>
					</a-row>
					<hr>
					<a-row>
						<a-col size="10">
							<uib-tabset type="pills" active="AMC.ActiveTabIndex">
								<uib-tab index="0" heading="Ledger Entries">
									<a-row>
										<a-col size="4">
											<a-row>
												<a-col size="7">
													<m-formgroup ng-model="AMC.LERunBalanceDisp" label="Ledger Balance" ng-disabled="true"></m-formgroup>
												</a-col>
											</a-row>
										</a-col>
									</a-row>

									<a-table headers="AMC.LEHdrs" props="AMC.LEProps" data="AMC.LEData" ng-model="AMC.LEActiveItem"></a-table>
								</uib-tab>

								<uib-tab index="1" heading="Payment Schedule">

									<a-row>
										<a-col size="4">
											<a-row>
												<a-col size="7">
													<m-formgroup ng-model="AMC.PSRunBalanceDisp" label="Paysched Balance" ng-disabled="true"></m-formgroup>
												</a-col>
											</a-row>
										</a-col>
									</a-row>
									<a-table headers="AMC.PSHdrs" props="AMC.PSProps" data="AMC.PSData" ng-model="AMC.PSActiveItem"></a-table>
								</uib-tab>
							</uib-tabset>
						</a-col>
						<a-col size="2">
								<a-button type="success btn-block" size="lg" ng-click="AMC.applyAdjust()" ng-disabled="!AMC.allowApply">
									{{AMC.SavingAdjust?'Saving...':(AMC.changesApplied?'SAVED!':'APPLY')}}
								</a-button>	
							
						</a-col>
					</a-row>
				</a-content>
			</a-canvas>
		</a-container>
	</a-module>
</div>