<style>
	.nav-pills>li{margin-bottom:20px;}
	div[label$="Balance"] input,div[label$="Total"] input,div[label$="Amount"] input{text-align:right;}
</style>
<div ng-controller="BatchAdjustController as BAC" ng-init="BAC.init()">
	<a-module>
		<a-container>
			<a-header is-main="true">
				<h4>Batch Adjustment</h4>
			</a-header>
			<a-canvas>
				<a-content>
					<a-row>
						<a-col size="4">
							<m-formgroup ng-model="BAC.ActiveSY" label="School Year" options="BAC.SchoolYears" option-label="label"  ng-change="BAC.changeASY()"></m-formgroup>
							<m-formgroup label="Section" ng-model="BAC.Section" options="BAC.Sections" option-group="year_level_id" size="'input-lg'"></m-formgroup>
							<m-formgroup label="Transaction Code" ng-model="BAC.TransactCode" options="BAC.TransactCodes" size="'input-lg'"></m-formgroup>
							<m-formgroup label="Amount" ng-model="BAC.Amount" type="'number'" size="'input-lg'"></m-formgroup>
							<a-button type="primary" class="btn-block" size="lg" ng-click="BAC.preview()" ng-show="!BAC.isPreview">Load</a-button>
							<a-button type="default" class="btn-block" size="lg" ng-click="BAC.revert()" ng-show="BAC.isPreview">Revert</a-button>
							<a-button type="success" class="btn-block" size="lg" ng-click="BAC.applyChanges()" ng-show="BAC.isPreview">Apply Changes</a-button>
							
						</a-col>
						<a-col size="8">
							<m-table-edit headers="BAC.PrevHeaders" props="BAC.PrevProps" data="BAC.PrevData" inputs="BAC.PrevInputs" on-edit-save="BAC.updateItems"  allow-add="false" allow-del="false" active-row="BAC.ActiveRecord"></m-table-edit>
						</a-col>
					</a-row>
				</a-content>
			</a-canvas>
		</a-container>
	</a-module>
</div>