<style>

.btn-action{
	width: 220px;
	height:100px;
	text-align:left;
	margin-right: 10px;
	margin-bottom: 10px;

}
.btn-action>span.peso.amount{
	width: auto;
	float: none;
	color: inherit;
}
.btn-action div.action-label {
  width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 40px;
}
.btn-action:hover div.action-label{
	white-space: normal;
}
.btn-active,.btn-active:hover,.btn-active:focus,
.btn-active[disabled],.btn-active[disabled]:hover,.btn-active[disabled]:focus{
	border:1px solid #337ab7;
	color:#337ab7;
	background: white;
}
.btn-action.btn-active,
.btn-action.btn-active:hover,
.btn-action.btn-active:focus{
	background: #d9edf7;
	border:2px solid #337ab7;
}
.btn-active[disabled],
.btn-active[disabled]:hover,
.btn-active[disabled]:focus{
	background: white;
}

div[align="right"] input{
	text-align: right;
}
div[align="right"] input[disabled]{
	background: white;
    border: none;
    padding: 0;
    color: black;
    font-size: 21px;
    height: auto;
}
div.search-box{
	margin:10px 0px;
}
</style>
<div ng-controller="BillingController as BLC" ng-init="BLC.init()">
	<a-module>
		<a-container>
			<a-header is-main="true">
				<a-row>
					<a-col size="10"><h4>Billing</h4></a-col>
					<a-col size="2" align="right">
						<m-formgroup ng-model="BLC.BillMonth" options="BLC.BillingMonths" hide-label="true"></m-formgroup>
					</a-col>
				</a-row>
				<div class="clearfix"></div>
			</a-header>
			<a-content>
				<a-row>
					<a-col>
							<uib-tabset type="tabs" active="activeJustified" justified="true"  active="BLC.ActiveTabIndex">
								<uib-tab index="$index + 1" ng-repeat="YL in BLC.YearLevels| orderBy: '-department_id'" heading="{{YL.name}}" select="BLC.filterBill(YL)">
								</uib-tab>
							</uib-tabset>

							<div class="search-box">
								<a-searchbox ng-model="BLC.SearchText" placeholder="BLC.SearchPlaceHolder" on-clear="BLC.clearSearch" is-large="true"></a-searchbox>
							</div>
							<a-table headers="BLC.BillHeaders" props="BLC.BillProps" data="BLC.FilteredBillData" 
											ng-model="BLC.ActiveBillObj" search-word="BLC.SearchText" search-by="BLC.SearchFields"
											on-row-click="BLC.showBillDetails"></a-table>
					</a-col>
				</a-row>
			</a-content>
			</a-canvas>
		</a-container>
	</a-module>

	<!-- Modal -->
	<a-modal id="BillingModal" title="Billing Details">
		<a-modal-body>
			<uib-tabset type="tabs" active="BLC.ModalActiveTabIndex">
				<uib-tab index="0" heading="Billing Info">
						<a-row>
							<a-col size="3">
								<m-formgroup ng-model="BLC.ActiveBillObj.sno" label="Student No." type="'display'"></m-formgroup>
							</a-col>
							<a-col size="9">
								<m-formgroup ng-model="BLC.ActiveBillObj.student" label="Student" type="'display'"></m-formgroup>	
							</a-col>
						</a-row>
						<a-row>
							<a-col size="3">
								<m-formgroup ng-model="BLC.ActiveBillObj.status" label="Status" type="'display'"></m-formgroup>
							</a-col>
							<a-col size="4">
								<m-formgroup ng-model="BLC.ActiveBillObj.due_amount_disp" label="Due Amount" type="'display'"></m-formgroup>	
							</a-col>
							<a-col size="5">
								<m-formgroup ng-model="BLC.ActiveBillObj.paid_amount_disp" label="Paid Amount" type="'display'"></m-formgroup>	
							</a-col>
							
						</a-row>
				</uib-tab>
				<uib-tab index="1" heading="View Statement">
						 <iframe ng-src="{{BLC.BillURL}}" width="100%" height="400"></iframe>
				</uib-tab>
				<uib-tab index="2" heading="Online Payments">
				</uib-tab>
					<uib-tab index="3" heading="Student Info">
					<a-row>
							<a-col>
								<m-formgroup ng-model="BLC.ActiveBillObj.last_name" label="Last Name"></m-formgroup>	
							</a-col>
							<a-col>
								<m-formgroup ng-model="BLC.ActiveBillObj.first_name" label="First Name"></m-formgroup>	
							</a-col>
							<a-col>
								<m-formgroup ng-model="BLC.ActiveBillObj.middle_name" label="Middle Name"></m-formgroup>	
							</a-col>
							<a-col size="6">
								<m-formgroup ng-model="BLC.ActiveBillObj.mobile" label="Mobile"></m-formgroup>	
							</a-col>
							<a-col size="6">
								<m-formgroup ng-model="BLC.ActiveBillObj.email" label="Email"></m-formgroup>	
							</a-col>
						</a-row>
				</uib-tab>
			</uib-tabset>
		</a-modal-body>
		<a-modal-footer>
			<a-button opt-class="pull-left" ng-click="BLC.closeModal()" > Close</a-button>
			
			<a-button type="active" ng-show="BLC.ModalActiveTabIndex==0 " ng-disabled="BLC.ActiveBillObj.status=='PAID'" ng-click="BLC.resendBill()">
				<a-glyph icon="send"></a-glyph>
				Resend SMS
			</a-button>
			<a-button type="active" ng-show="BLC.ModalActiveTabIndex==1" ng-click="BLC.updateSOA()">
				<a-glyph icon="list-alt"></a-glyph>
				Update SOA
			</a-button>
			<a-button type="active" ng-show="BLC.ModalActiveTabIndex==2"  ng-click="BLC.updateOnline()">
				<a-glyph icon="new-window"></a-glyph>
				Update Payment
			</a-button>
			<a-button type="active" ng-show="BLC.ModalActiveTabIndex==3"  ng-click="BLC.updateInfo()">
				<a-glyph icon="user"></a-glyph>
				Update Info
			</a-button>
			
		</a-modal-footer>
	</a-modal>