<style>
.tab-content{
	padding-left: 15px;
}
.btn-action{
	width: 220px;
	height:100px;
	text-align:left;
	margin-right: 10px;
	margin-bottom: 10px;

}
.btn-action>span.peso.amount{
	width: auto;
	float: none;
	color: inherit;
}
.btn-action div.action-label {
  width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 40px;
}
.btn-action:hover div.action-label{
	white-space: normal;
}
.btn-active,.btn-active:hover,.btn-active:focus,
.btn-active[disabled],.btn-active[disabled]:hover,.btn-active[disabled]:focus{
	border:1px solid #337ab7;
	color:#337ab7;
	background: white;
}
.btn-action.btn-active,
.btn-action.btn-active:hover,
.btn-action.btn-active:focus{
	background: #d9edf7;
	border:2px solid #337ab7;
}
.btn-active[disabled],
.btn-active[disabled]:hover,
.btn-active[disabled]:focus{
	background: white;
}
div[align="right"] input{
	text-align: right;
}
div[align="right"] input[disabled]{
	background: white;
    border: none;
    padding: 0;
    color: black;
    font-size: 21px;
    height: auto;
}
</style>
<div ng-controller="CashierController as CAC" ng-init="CAC.init()">
	<a-module>
		<a-container>
			<a-header is-main="true">
				<m-search-entity  ng-model="CAC.ActiveStudent" endpoint="'students/search'" search-fields="['first_name','last_name','middle_name','sno','rfid']" obj-fields="CAC.StudFields" is-large="true" display-field="'display_name'"/>
			</a-header>
			<a-canvas>
				<a-content>
					<a-row>
						<a-col size="8">
							<div class="pull-right" style="width:140px;margin-right:33px;">
								<m-formgroup ng-model="CAC.ActiveSY" label="School Year" options="CAC.SchoolYears" option-label="label"></m-formgroup>
							</div>
							<uib-tabset type="pills" active="CAC.ActiveTabIndex">
								<uib-tab index="0" heading="Transactions" classes="btn-lg">
										<div ng-controller="CashierTransactionsController as CTC" ng-init="CTC.init()">
											<!--- Transactions - allowed & defaults -->
											<a-button size="lg" class="btn-action" ng-class="{'btn-active':CTC.ActiveTrnx[TItem.id]}" ng-repeat="TItem in CTC.TransacList" ng-hide="TItem.hide" ng-disabled="(TItem.disabled || !TItem.amount) || CAC.TrnxDtlMode=='EDIT'" ng-click="CTC.addTrnx(TItem.id)">
												<div class="action-label">{{TItem.description}}</div>
												<span class="peso amount">{{TItem.amount|currency}}</span>
											</a-button>
											<!-- Transactions -->
											<a-button size="lg" class="btn-action text-center hide">
												
												<div class="action-label">
													Scan or Tap  ID
												</div>
												<a-glyph icon="barcode"></a-glyph>
												<a-glyph icon="qrcode"></a-glyph>
												<a-glyph icon="list-alt"></a-glyph>
											</a-button>
										</div>
								</uib-tab>
								<uib-tab index="1" heading="Schedule" classes="btn-lg">
									<a-table headers="CAC.PSHeaders" props="CAC.PSProps" data="CAC.Paysched" is-preload="false"></a-table>
									<div class="text-center"  ng-show="hasMultiplePS">
										<a-navpill  ng-model="CAC.PSType" options="CAC.PSTypes" type="button" ></a-navpill>
									</div>
								</uib-tab>

								<uib-tab index="2" heading="Statement" classes="btn-lg">
									<div style="height: 500px;" ng-show="CAC.ActiveStudent.id" >
										<form action="api/reports/statement" method="GET" target="PPSOA2frame2" id="PrintPPSoa2">
											<input type="hidden" name="account_id" value="{{CAC.ActiveStudent.id}}"/>
											<input type="hidden" name="sy" value="{{CAC.ActiveSY}}"/>
											<input type="hidden" name="type" value="{{__PSType=='old'?'old':'current'}}"/>
										</form>
										<iframe name="PPSOA2frame2"  id="PPSOA2frame" frameborder="0" style="width:100%;height:100%;display:block;"></iframe>
										<div class="text-center"  ng-show="hasMultiplePS">
											<a-navpill  ng-model="CAC.PSType" options="CAC.PSTypes" type="button" ></a-navpill>
										</div>
									</div>
									
									<div class="empty-state" ng-hide="CAC.ActiveStudent.id">
										<div class="well text-center">
											<div class="empty-state-icon text-center">
												<i class="glyphicon glyphicon-list-alt"></i>
											</div>
											<h4>Select Student to view Statement of Account</h4>
										</div>
									</div>
								</uib-tab>
							</uib-tabset>
						</a-col>
						<a-col size="4">
							<div >
								<div style="margin-bottom:10px;">
									<h5 class="pull-left">Transaction Details</h5>
									<div class="pull-right" ng-show="CAC.TrnxDtlMode!='EDIT'">
										<a-button ng-click="CAC.clearTrnxDetails()" ng-disabled="!CAC.allowClear">
												Clear
										</a-button>
										<a-button type="active" ng-click="CAC.editTrnxDetails()" ng-disabled="!CAC.allowEdit">
												&nbsp;Edit&nbsp; 
										</a-button>
									</div>

									<div class="pull-right"ng-show="CAC.TrnxDtlMode=='EDIT'">
										<a-button ng-click="CAC.closeTrnxDetails()">
												Close
										</a-button>
										<a-button type="primary" ng-click="CAC.updateTrnxDetails()" ng-disabled="!CAC.allowUpdate">
												Update
										</a-button>
									</div>	
									<div class="clearfix"></div>
								</div>
							</div>
							<div style="height:300px">

								<!-- Transaction Details -->
								<div ng-show="CAC.TrnxDtlMode!=='EDIT'">
									<a-table headers="CAC.Headers" props="CAC.Props" data="CAC.TransacDetails" is-preload="false"></a-table>
								</div>
								<div ng-show="CAC.TrnxDtlMode==='EDIT'">
									
									<m-table-edit headers="CAC.Headers" props="CAC.Props" data="CAC.EditTransacDetails" inputs="CAC.Inputs" on-edit-save="CAC.updateDetails"  allow-add="false" allow-del="false" ></m-table-edit>
								</div>
								<!-- Transaction Details -->

								<div class="btn-group btn-group-sm pull-right" ng-if="0" style="margin-top:-21px;">
									<a-button ng-if="true">
										<a-glyph icon="chevron-left"></a-glyph>
									</a-button>
									<a-button ng-if="true">
										<a-glyph icon="chevron-right"></a-glyph>
									</a-button>
								</div>
							</div>
							<m-formgroup ng-model="CAC.TotalDispAmount" label="Total Amount" align="right" ng-disabled="true" size="'input-lg'"></m-formgroup>
							<a-button class="btn-block" size="lg" type="success" ng-click="CAC.openPaymentModal()" ng-disabled="!CAC.allowPay">
								Pay
							</a-button>

						</a-col>
					</a-row>
					

				</a-content>
			</a-canvas>
		</a-container>
	</a-module>

	<div ng-controller="CashierModalController as CMC" ng-init="CMC.init()">
		<a-modal id="CashierPaymentModal" title="Payment">
			<a-modal-body>
				<a-row>
					<a-col size="4">
						<m-formgroup ng-model="CMC.PayObj.doc_type" label="Doc Type" options="CMC.DocTypes"></m-formgroup>
					</a-col>
					<a-col size="4">
						<m-formgroup ng-model="CMC.PayObj.transac_date_display" label="Date" type="'display'"></m-formgroup>
					</a-col>
					<a-col size="4" align="right">
						<m-formgroup ng-model="CMC.PayObj.series_no" label="Series No" size="'input-lg'" ></m-formgroup>
					</a-col>
				</a-row>
				
				<a-row>
					<a-col size="8">
						<m-formgroup ng-model="CMC.PayObj.student" label="Student" ng-disabled="true"></m-formgroup>
					</a-col>
					<a-col size="4">
						<m-formgroup ng-model="CMC.PayObj.section" label="Level / Section" ng-disabled="true"></m-formgroup>
					</a-col>
				</a-row>
				<a-row>
					<a-col size="8">
						<m-formgroup ng-model="CMC.PayObj.pay_type" label="Payment Type" options="CMC.PayTypes"></m-formgroup>
					</a-col>
					<a-col size="4" align="right">
						<m-formgroup ng-model="CMC.PayObj.pay_display" label="Amount" type="'display'" size="'input-lg'"></m-formgroup>
					</a-col>
				</a-row>
				
				
				<a-row>
					<a-col size="8">
						<m-formgroup ng-model="CMC.PayObj.pay_details" label="Check Details" ng-show="CMC.PayObj.pay_type=='CHCK'"></m-formgroup>
						<m-formgroup ng-model="CMC.PayObj.pay_details" label="Card Details" ng-show="CMC.PayObj.pay_type=='CARD'"></m-formgroup>
					</a-col>
					<a-col size="4" align="right">
						<m-formgroup ng-model="CMC.PayObj.pay_change" label="Change" type="'number'"  ng-disabled="true"  ng-show="CMC.PayObj.pay_amount >CMC.PayObj.pay_due"></m-formgroup>
					</a-col>
				</a-row>
			</a-modal-body>
			<a-modal-footer>
				<a-button opt-class="pull-left" ng-click="CMC.closeModal()">Close</a-button>
				<a-button type="primary" ng-click="CMC.confirmPayment()">Confirm</a-button>
			</a-modal-footer>
		</a-modal>
	</div>

	<form action="api/receipts/cash_ar" method="POST" target="_blank" id="PrintARPayment">
		<input type="hidden" name="details" value="{{CAC.PrintPaymentDetails}}"/>
	</form>
	<form action="api/receipts/cash_a2o" method="POST" target="_blank" id="PrintA2OPayment">
		<input type="hidden" name="details" value="{{CAC.PrintPaymentDetails}}"/>
	</form>
	<form action="api/receipts/cash_or" method="POST" target="_blank" id="PrintORPayment">
		<input type="hidden" name="details" value="{{CAC.PrintPaymentDetails}}"/>
	</form>
</div>