<div ng-controller="PaymentPlanController as PPC" ng-init="PPC.init()">
	<a-module>
		<a-container>
			<a-header is-main="true">
				<m-search-entity  ng-model="PPC.ActiveStudent" endpoint="'students/search'" search-fields="['first_name','last_name','middle_name','sno','rfid']" obj-fields="PPC.StudFields" is-large="true" display-field="'display_name'"/>
			</a-header>
			<a-canvas>
				<a-content>
					<a-row>
						<a-col size="5">
							<a-row>
								<a-col size="6">
									<m-formgroup ng-model="PPC.ActiveSY" options="PPC.SchoolYears" label="School Year" option-label="label" ng-disabled="!PPC.ActiveStudent.id"></m-formgroup>
								</a-col>
							</a-row>
							<a-row>
								<a-col size="4">
									<m-formgroup ng-model="PPC.PaymentStart" label="Payment Start" type="'date'" ng-disabled="!PPC.allowInput"></m-formgroup>
									
								</a-col>
								<a-col size="4">
									<m-formgroup ng-model="PPC.TotalDue" label="Total Due" type="'number'" ng-disabled="!PPC.allowInput"></m-formgroup>
									
								</a-col>
								<a-col size="3">
									<m-formgroup ng-model="PPC.PaymentTerms" label="Terms (mos.)" type="'number'" ng-disabled="!PPC.allowInput"></m-formgroup>
								</a-col>
							</a-row>
							
						</a-col>
						<a-col size="5">
							<a-row>
								<a-col size="8">
									<m-formgroup ng-model="PPC.Guarantor" size="'input-lg'" label="Name of Parent/Guardian" ng-disabled="!PPC.allowInput"></m-formgroup>
								</a-col>
								<a-col size="4">
									<m-formgroup ng-model="PPC.MonthlyDue" 
									size="'input-lg'" label="Monthly Payments" type="'number'" ng-disabled="!PPC.allowInput"></m-formgroup>
								</a-col>
							</a-row>
							<a-row >
								<a-col>
									<m-formgroup ng-model="PPC.PayPlan" label="Payment Extension Plans" options="PPC.PayPlans" option-label="label" ng-disabled="!PPC.allowInput || !PPC.PayPlans.length"></m-formgroup>
								</a-col>
							</a-row>
						</a-col>
						
						<a-col size="2">
							<div style="margin-top:24px;">
								<a-button type="primary-block" size="lg" ng-click="PPC.computePlan()" ng-disabled="!PPC.allowCompute">
									Compute
								</a-button>
							</div>
							<div style="margin-top:39px;" >
								<a-button type="default-block" ng-click="PPC.reprintExtension()" ng-disabled="!PPC.PayPlan">
									<a-glyph icon="file"></a-glyph>
									Reprint
								</a-button>
							</div>
						</a-col>
					</a-row>
					<hr>
					<a-row>
						<a-col size="10">
							<h5>Payment Plan Schedule</h5>
							
							<a-table headers="PPC.PlanHeaders" props="PPC.PlanProps" data="PPC.PlanData" is-preload="false"></a-table>
						</a-col>
						<a-col size="2">
							<div style="margin-top:24px;">
								<a-button type="success" size="lg" ng-click="PPC.applyExtension()" ng-disabled="!PPC.allowApply">
									Apply Extension
								</a-button>
								<a-button style="margin-top:10px;" type="default-block"  ng-click="PPC.revertExtension()" ng-disabled="!PPC.allowApply">
									<a-glyph icon="repeat"></a-glyph>
									Revert
								</a-button>
							</div>
						</a-col>
					</a-row>
				</a-content>
			</a-canvas>
		</a-container>
	</a-module>

	<form action="api/receipts/payment_plan" method="POST" target="_blank" id="PrintPaymentPlan">
		<input type="hidden" name="details" value="{{PPC.PrintPaymentDetails}}"/>
	</form>
</div>