<div ng-controller="PaymentPlanController as PPC" ng-init="PPC.init()">
	<a-module>
		<a-container>
			<a-header is-main="true">
				<m-search-entity  ng-model="PPC.ActiveStudent" endpoint="'students/search'" search-fields="['first_name','last_name','middle_name','sno','rfid']" obj-fields="PPC.StudFields" is-large="true" display-field="'display_name'"/>
			</a-header>
			<a-canvas>
				<a-content>
					<a-row>
						<a-col size="5">
							<a-row>
								<a-col size="4">
									<m-formgroup ng-model="PPC.PaymentStart" label="Payment Start" type="'date'"></m-formgroup>
									
								</a-col>
								<a-col size="4">
									<m-formgroup ng-model="PPC.TotalDue" label="Total Due" type="'number'"></m-formgroup>
									
								</a-col>
								<a-col size="3">
									<m-formgroup ng-model="PPC.PaymentTerms" label="Terms (mos.)" type="'number'"></m-formgroup>
								</a-col>
							</a-row>
							
						</a-col>
						<a-col size="5">
							<a-row>
								<a-col size="4">
									<m-formgroup ng-model="PPC.MonthlyDue" 
									size="'input-lg'" label="Monthly Payments" type="'number'"></m-formgroup>
								</a-col>
								<a-col size="8">
									<m-formgroup ng-model="PPC.Guarantor" size="'input-lg'" label="Name of Parent/Guardian"></m-formgroup>
								</a-col>
							</a-row>
							
						</a-col>
						
						<a-col size="2">
							<div style="margin-top:24px;">
								<a-button type="primary-block" size="lg" ng-click="PPC.computePlan()">
									Compute
								</a-button>
							</div>
						</a-col>
					</a-row>
					<hr>
					<a-row>
						<a-col size="10">
							<h5>Payment Plan Schedule</h5>
							
							<a-table headers="PPC.PlanHeaders" props="PPC.PlanProps" data="PPC.PlanData"></a-table>
						</a-col>
						<a-col size="2">
							<div style="margin-top:24px;">
								<a-button type="success" size="lg" ng-click="PPC.applyExtension()">
									Apply Extension
								</a-button>
							</div>
						</a-col>
					</a-row>
				</a-content>
			</a-canvas>
		</a-container>
	</a-module>
</div>