<style type="text/css">
	.input-amount{
		padding-top: 1.4rem;
	}
</style>
<div ng-controller="CashierController" ng-init="index()">
	<div class="row">
		<div class="col-md-12">
			<ul class="nav nav-pills nav-wizard">
				<li ng-class="{active:ActiveStep===step.id}" ng-repeat="step in Steps" ng-click="updateStep(step)">
					<div ng-if="!$first" class="nav-wedge"></div>
					<a data-toggle="tab"><span class="badge">{{step.id}}</span> {{step.description}}</a>
					<div ng-if="!$last" class="nav-arrow"></div>
				</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="list-group">
				<div class="list-group-item list-group-header">
					<label class="">Summary</label>
					<div class="pull-right">
					<button class="btn btn-xs btn-success" uib-popover-template="'accountInfoBox.html'" popover-append-to-body="true" popover-placement="bottom" ng-disabled="!ActiveStudent.id"> <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Student Account</button>
					<button class="btn btn-xs btn-danger" ng-click="initCashier()" ng-disabled="ActiveStep==1"> Clear</button>
					<button class="btn btn-xs btn-info" ng-click="displaySettings()"> <span class="glyphicon glyphicon-cog" aria-hidden="true"></span></button>
					</div>
				</div>
				<div class="list-group-canvas">
					<div class="list-group-item" ng-show="hasStudentInfo">
						<div class="row">
							<div class="col-md-6">
								<dl>
									<label>Series No.</label>
									<dd><h3 class="amount pull-left" style="width:100%; text-align: left; margin-top:0">{{ActiveBooklet.series_counter}}</h3></dd>
									<dt>Date</dt>{{Today | date:'MM-dd-yyyy'}}
									<dt>Account</dt>
									<dd>{{ActiveStudent.id}} | {{ActiveStudent.name}}</dd>
								</dl>
							</div>
							<div class="col-md-6">
								<div class="row">
									<div class="col-md-12 amount amount-total">
										<label>Total</label>
										<h3><div class="amount total peso">{{TotalDue | currency}}</div></h3>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6 amount amount-total">
										<label>Received</label>
										<h3><div class="amount">{{TotalPaid | currency}}</div></h3>
									</div>
									<div class="col-md-6 amount amount-total">
										<label>Change</label>
										<h3><div class="amount" ng-class="{credit:TotalChange>0,debit:TotalChange<0}">{{TotalChange | currency}}</div></h3>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="list-group-item list-group-header" ng-show="hasTransactionInfo">
						<h5>Details</h5>
					</div>
					<div class="list-group-item" ng-show="hasTransactionInfo">
						<table class="table table-condensed table-bordered">
							<thead>
								<tr>
									<th class="text-center">Transaction</td>
									<th class="text-center">Amount</td>
								</tr>
							</thead>
							<tbody>
								<tr ng-if="!ActiveTransactions.length">
									<td class="text-center" colspan="2">No Transaction</td>
								</tr>
								<tr ng-if="ActiveTransactions.length" ng-repeat="transaction in TransactionTypes | filter:filterIncludedTransactions">
									<td>{{transaction.name}}</td>
									<td><div class="amount" ng-class="{peso:$first}">{{transaction.amount | currency}}</div></td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td><b>Total</b></td>
									<td><div class="amount peso"><b>{{TotalDue | currency}}</b></div></td>
								</tr>
							</tfoot>
						</table>
					</div>
					<div class="list-group-item list-group-header" ng-show="hasPaymentInfo">
						<h5>Payment</h5>
					</div>
					<div class="list-group-item" ng-show="hasPaymentInfo">
						<table class="table table-condensed table-bordered">
							<thead>
								<tr>
									<th class="text-center">Method</td>
									<th class="text-center">Details</td>
									<th class="text-center">Amount</td>
								</tr>
							</thead>
							<tbody>
								<tr ng-if="!ActivePayments.length">
									<td class="text-center" colspan="3">No Transaction</td>
								</tr ng-if="ActivePayments.length">
								<tr ng-repeat="payment in Payments | filter:filterIncludedPayments">
									<td colspan="{{payment.id=='CASH'? 2: 1}}">{{payment.name}}</td>
									<td ng-if="payment.id!='CASH'">{{SelectedPaymentDetails[payment.id].bank}}|{{SelectedPaymentDetails[payment.id].ref_no}}|{{SelectedPaymentDetails[payment.id].date | date:'mediumDate'}}</td>
									<td><div class="amount" ng-class="{peso:$first}">{{payment.amount | currency}}</div></td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td><b>Total</b></td>
									<th>&nbsp</td>
									<td><div class="amount peso"><b>{{TotalPaid | currency}}</b></div></td>
								</tr>
							</tfoot>
						</table>
					</div>
					<div class="list-group-item" ng-show="!hasInfo">
						<div class="empty-state">
							<div class="well">
								<div class="empty-state-icon">
									&#x20b1;
								</div>
								<h4>No transaction yet!</h4>
								<p class="empty-state-message">Choose a student and transact.</p>
							</div>
							<div class="empty-state-help alert alert-info"> 
								<span class="empty-state-action-icon glyphicon glyphicon-chevron-right"></span> Click to proceed, after completing each step.
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<button class="btn btn-primary btn-fab top right" ng-click="nextStep()" ng-disabled="CashierSaving||Disabled">
			<span class="glyphicon " ng-class="{'glyphicon-chevron-right':ActiveStep!=4,'glyphicon-ok': ActiveStep===4}" aria-hidden="true"></span>
			</button>
			<div class="list-group" ng-show="ActiveStep===1">
				<div class="list-group-item list-group-header">
					<label>Student</label>
				</div>
				<div class="list-group-canvas list-group-search-results">
					<div class="list-group-item list-group-header">
						<h5>Select Student</h5>
					</div>
					<div class="list-group-item text-center" ng-if="!Students.length">
						<div class="preloader-message">Loading...</div>
						<div class="loader"></div>
					</div>
					<div class="list-group-item ng-class:{active:student.id===SelectedStudent.id}" ng-repeat="student in Students | filter:filterStudent" ng-click="setSelecetedStudent(student)">
						<h4 class="list-group-item-heading">{{student.name}}</h4>
						<p class="list-group-item-text">
						<span>{{student.id}}</span> | <span>{{student.year_level_id}}</span></p>
					</div>
				</div>
				<div class="list-group-item list-group-search-box">
					<div class="input-group"> 
						<div class="input-group-btn"><button class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button></div>
						<input type="text" class="form-control" placeholder="Search" focus="ActiveStep==1&&!__SIDEBAR_OPEN" ng-model="searchStudent"/>
						<div class="input-group-btn"><button class="btn btn-default" ng-click="clearSearchStudent()"><span class="glyphicon glyphicon-remove"></span></button></div>
					</div>
				</div>
			</div>
			<div class="list-group" ng-show="ActiveStep===2">
				<div class="list-group-item list-group-header">
					<button class="btn btn-xs btn-warning" ng-click="prevStep()"> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></button>
					<label for="">Transaction</label>
				</div>
				<div class="list-group-canvas list-group-search-results">
					<div class="list-group-item list-group-header">
						<h5>Select Transactions</h5>
					</div>
					<div class="list-group-item" 
						ng-repeat="transaction_type in TransactionTypes | filter:filterTransaction">
						<div class="row">
							<div class="col-md-8" ng-click="toggleSelectTransaction(transaction_type.id,$index)" >
								<div class="checkbox checkbox-lg">
									<label >
									<input type="checkbox" ng-model="SelectedTransactions[transaction_type.id]">
										<span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
									</label>
									<div class="description">
										<h4 class="list-group-item-heading">{{transaction_type.name}}</h4>
										<p class="list-group-item-text">Description Here</p>
									</div>
								</div>
							</div>
							<div class="col-md-4" ng-show="SelectedTransactions[transaction_type.id]">
								<div class="input-group input-amount">
								<span class="input-group-addon">₱</span>
								<input type="number" class="form-control" ng-model="transaction_type.amount" autoselect focus="FocusTransaction[transaction_type.id]" />
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="list-group-item list-group-search-box">
					<div class="input-group"> 
						<div class="input-group-btn"><button class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button></div>
						<input type="text" class="form-control" placeholder="Search" ng-model="searchTransaction"/>
						<div class="input-group-btn"><button class="btn btn-default" ng-click="clearSearchTransaction()"><span class="glyphicon glyphicon-remove"></span></button></div>
					</div>
				</div>
			</div>			
			<div class="list-group" ng-show="ActiveStep===3">
				<div class="list-group-item list-group-header">
					<button class="btn btn-xs btn-warning" ng-click="prevStep()"> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></button>
					<label for="">Payment</label>
				</div>
				<div class="list-group-canvas">
					<div class="list-group-item list-group-header">
						<h5>Select Payment Method</h5>
					</div>
					<div class="list-group-item" ng-repeat="payment in Payments">
						<div class="row">
							<div class="col-md-7"  ng-click="toggleSelectPayment(payment.id)">
								<div class="checkbox checkbox-lg">
									<label >
									<input type="checkbox" ng-model="SelectedPayments[payment.id]">
										<span class="cr" ><i class="cr-icon glyphicon glyphicon-ok"></i></span>
									</label>
									<div class="description">
										<h4 class="list-group-item-heading">{{payment.name}}</h4>
										<p class="list-group-item-text">
											<div>{{!payment.description?'&nbsp;':payment.description}}</div>
										</p>
									</div>
								</div>
							</div>
							<div class="col-md-5" ng-show="SelectedPayments[payment.id]">
								<div class="input-group input-amount col-md-10 col-md-push-1">
									<span class="input-group-addon">₱</span>
									<input type="number" class="form-control" ng-model="payment.amount" ng-change="updateCurrentChange()" autoselect focus="FocusPayment[payment.id]"/>
									<div class="input-group-btn" ng-if="payment.id!='CASH'">
										<button class="btn btn-default" pop-title="{{payment.name+' details'}}" uib-popover-template="'paymentDetailsBox.html'" popover-append-to-body="true" pop-placement="top"  popover-is-open="shouldOpen[payment.id]" ng-click="setActivePopover(payment)">
											<span class="glyphicon glyphicon-{{payment.icon}}"></span>
										</button>
									</div>
								</div>
								<div class="help-text" ng-if="payment.id=='CASH' && SelectedPayments[payment.id]">
									Change: {{CurrentChange | currency}}
								</div>
								<div class="help-text" ng-if="payment.id!='CASH' && isEmpty(SelectedPaymentDetails[payment.id])">
								  <button class="btn btn-xs btn-default" disabled><span class="glyphicon glyphicon-{{payment.icon}}"></span></button> Click for {{payment.name}} details.
								 </div>
								 <div class="help-text" ng-if="payment.id!='CASH' && !isEmpty(SelectedPaymentDetails[payment.id])">
								  Details: {{SelectedPaymentDetails[payment.id].bank}} {{SelectedPaymentDetails[payment.id].ref_no}} {{SelectedPaymentDetails[payment.id].date | date:'mediumDate'}}
								 </div>
							</div>
						</div>
					</div>
				</div>				
			</div>
			<div class="list-group" ng-show="ActiveStep===4">
				<div class="list-group-item list-group-header">
					<button class="btn btn-xs btn-warning" ng-click="prevStep()"> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></button>
					<label for="">Confirmation</label>
				</div>
				<div class="list-group-canvas">
					<div class="list-group-item">
						<div class="empty-state"  ng-hide="CashierSaving">
							<div class="well">
								<div class="empty-state-icon">
									<i class="glyphicon glyphicon-thumbs-up"></i>
								</div>
								<h4>Almost there!</h4>
								<p class="empty-state-message">Review your transaction summary.</p>
							</div>
							<div class="empty-state-help alert alert-info"> 
								<span class="empty-state-action-icon glyphicon glyphicon-ok"></span> Click to confirm.
							</div>
						</div>
						<div class="empty-state" ng-show="CashierSaving">
							<div class="well">
								<div class="empty-state-icon">
									<i class="glyphicon glyphicon-floppy-disk"></i>
								</div>
								<h4>Saving...</h4>
								<p class="empty-state-message">Please wait for awhile.</p>
							</div>
							<div class="loader fade in" ng-hide="__MODAL_OPEN"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/ng-template" id="bookletModal.html">
			<div class="modal-header">
				<h3 class="modal-title">Cashier Config</h3>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							Series No.
						</div>						
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
							<input type="number" placeholder="Series Start" class="form-control" ng-model="seriesStart" ng-blur="setSeriesCounter(seriesStart)"/>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="number" placeholder="Series End" class="form-control" ng-model="seriesEnd"/>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="number" placeholder="Series Counter" class="form-control" ng-model="seriesCounter"/>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							Cashier.
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<input type="text" placeholder="Cashier" class="form-control" ng-model="cashier"/>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-default pull-left" type="button" ng-click="cancelBooklet()">Cancel</button>
				<button class="btn btn-primary" type="button" ng-click="confirmBooklet()">Confirm</button>
			</div>
		</script>
		<script type="text/ng-template" id="accountInfoBox.html">
			<dl>
				<dt>Account</dt>
				<dd>{{ActiveStudent.name}}</dd>
				<dt>Balance</dt>
				<dd><span class="amount total peso">{{ActiveStudent.outstanding_balance}}</span></dd>
			</dl>
			<button class="btn btn-primary btn-sm form-control" style="margin-bottom:5px">View SOA</button><br />
			<button class="btn btn-default btn-sm form-control">View Pay Sched</button>
		</script>
		<script type="text/ng-template" id="paymentDetailsBox.html">
			<button class="btn btn-xs btn-danger btn-dismiss" ng-click="closePop($event)"><span class="glyphicon glyphicon-remove"></span></button>
			<dl>
				<dt ng-if="ActivePaymentMethod.id!='CHRG'">Bank</dt>
				<dd ng-if="ActivePaymentMethod.id!='CHRG'" ><input ng-model="PopoverDetails.bank" type="text" class="form-control input-sm" placeholder="Issuing Bank"/></dd>
				<dt>Check No</dt>
				<dd><input ng-model="PopoverDetails.ref_no" type="text" class="form-control input-sm" placeholder="{{ActivePaymentMethod.name}}  number"/></dd>
				<dt>{{ActivePaymentMethod.name}} Date</dt>
				<dd ng-if="ActivePaymentMethod.id=='CARD'"><input ng-model="PopoverDetails.date" type="text" class="form-control input-sm" placeholder="{{ActivePaymentMethod.name}} expiry" /></dd>
				<dd ng-if="ActivePaymentMethod.id!='CARD'"><input ng-model="PopoverDetails.date" type="date" class="form-control input-sm" placeholder="{{ActivePaymentMethod.name}} date" /></dd>
			</dl>
			<button class="btn btn-sm btn-block btn-primary" ng-click="savePopoverDetails(ActivePaymentMethod.id)" ng-disabled="!PopoverDetails.date||!PopoverDetails.bank||!PopoverDetails.ref_no" >Confirm</button>
		</script>
		<script type="text/ng-template" id="successModal.html">
			<div class="modal-body text-center">
				<button class="btn btn-success btn-fab btn-fab-drop" ng-class="{show:ShowButton}"><span class="glyphicon glyphicon-ok"></span></button>
				<h1>Success</h1>
				<p>Payment accepted.</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success btn-block" type="button" ng-click="dismissModal()">OK</button>
			</div>
		</script>
</div>
