<div ng-controller="LedgerController as LC" ng-init="LC.list()">
    <button class="btn btn-primary btn-fab bottom right fixed top" ng-click="LC.openModal()">
	<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
	</button>
    <div class="row">

        <div class="col-md-6">
            <div class="list-group">
                <div class="list-group-item list-group-header">
                    <div class="btn-group btn-group-sm pull-right" uib-dropdown>
                        <button class="btn btn-default disabled">{{LC.FirstItem}} - {{LC.LastItem}} of {{LC.TotalItems}}</button>
                        <button class="btn btn-default" ng-disabled="!PrevPage || DataLoading" ng-click="navigatePage(PrevPage)"><span class="glyphicon glyphicon-chevron-left"></span></button>
                        <button class="btn btn-default" ng-disabled="!NextPage || DataLoading" ng-click="navigatePage(NextPage)"><span class="glyphicon glyphicon-chevron-right"></span></button>

                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" uib-dropdown-toggle>
							<span class="glyphicon glyphicon-filter"></span>
						  </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="#/">Sort</a></li>
                            <li><a href="#/">Filter</a></li>
                            <li><a href="#/">Go to Page</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#/">Some other link</a></li>

                        </ul>
                    </div>
                    <label class="clear-fix">Student Ledgers</label>
                </div>
                <div class="list-group-canvas list-group-search-results">
                    <div class="list-group-item text-center" ng-if="searchLedger">
                        <h4 class="list-group-item-heading">Search result(s) for <b><i>{{LC.searchLedger}}</i></b>.</h4>
                        <p class="list-group-item-text">
                            Click the <span class="glyphicon glyphicon-search" aria-hidden="true"></span> to look further. Click the <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> to cancel.
                        </p>
                    </div>
                    <div class="list-group-item" ng-hide="LC.DataLoading" ng-class="{active: ledger.id===LC.Ledger.id}" ng-repeat="ledger in LC.Ledgers | filter: LC.filterLedger" ng-click="LC.openLedgerInfo(ledger)">
                        <div class="row">
                            <div class="col-md-6">
                                <h4 class="list-group-item-heading">{{ledger.details}}</h4>
                                <p class="list-group-item-text">
                                    <span ng-if="!ledger.account_no.length">No Details</span>
                                    <span>{{ledger.transac_date }}</span> | <span>{{ledger.account_no}}</span></p>
                            </div>
                            <div class="col-md-6">
                                <h3 class="amount {{ledger.type}}"><span class="flag">{{ledger.type=='debit'?'-':'+'}}</span>{{ledger.amount | currency: 'P'}}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item text-center" ng-if="!LC.Ledgers.length || LC.DataLoading">
                        Loading...
                    </div>
                </div>
                <div class="list-group-item list-group-search-box">
                    <div class="input-group">
                        <div class="input-group-btn"><button class="btn btn-default" ng-click="LC.confirmSearch()"><span class="glyphicon glyphicon-search"></span></button></div>
                        <input type="text" class="form-control" placeholder="Search" ng-model="LC.searchLedger" />
                        <div class="input-group-btn"><button class="btn btn-default" ng-click="LC.clearSearch()"><span class="glyphicon glyphicon-remove"></span></button></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="list-group">
                <div class="list-group-item list-group-header">
                    <label ng-if="Ledger">{{LC.Ledger.account.name}}</label>
                    <label ng-if="!Ledger">Ledger Information</label>
                    <div class="pull-right">
                        <div class="btn-group btn-group-xs " uib-dropdown ng-hide="true">
                            <button class="btn btn-default dropdown-toggle" type="button" uib-dropdown-toggle>
							<span class="glyphicon glyphicon-chevron-down"></span>
						  </button>
                            <ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu1">
                                <li><a ng-click="LC.deleteLedger(LC.Ledger.id)">Delete</a></li>
                            </ul>
                        </div>
                        <button class="btn btn-xs btn-danger" ng-click="LC.removeLedgerInfo()"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    </div>
                </div>
                <div class="list-group-canvas">
                    <div class="list-group-item list-group-header" ng-show="LC.hasInfo">
                        <h5>Account Information</h5>
                    </div>
                    <div class="list-group-item" ng-show="LC.hasInfo">
                        <dl class="dl-horizontal">
                            <dt>Account No.</dt>
                            <dd>{{LC.Ledger.account_no}}</dd>
                            <dt>Account Name</dt>
                            <dd>{{LC.Ledger.account_name}}</dd>
                        </dl>
                    </div>
                    <div class="list-group-item list-group-header" ng-show="LC.hasInfo">
                        <h5>Transaction Information</h5>
                    </div>
                    <div class="list-group-item" ng-show="LC.hasInfo">
                        <dl class="dl-horizontal">
                            <dt>Date</dt>
                            <dd>{{LC.Ledger.transac_date | date:'dd-MMM-yy'}}</dd>
                            <dt>Ref No.</dt>
                            <dd>{{LC.Ledger.ref_no}}</dd>
                            <dt>Transaction</dt>
                            <dd>{{LC.Ledger.details}}</dd>
                            <dt>Amount</dt>
                            <dd>{{LC.Ledger.amount}}</dd>
                        </dl>
                    </div>
                    <div class="list-group-item" ng-show="LC.hasNoInfo">
                        <div class="well">
                            <span>No Information</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/ng-template" id="myModalContent.html">
            <div class="modal-header">
                <h3 class="modal-title">Ledger Information</h3>
            </div>
            <div class="modal-body">
                <div class="row">
					<div class="col-md-4">
						<label for="">School Year</label>
						<select class="form-control" ng-model="SchoolYear" 
							ng-options="sy.id as sy.label for sy in SchoolYears">
						</select>
					</div>
                    <div class="col-md-8">
                        <div class="form-group">
							<label for="">Account</label>
                            <m-search-student ng-model="Account">
							</m-search-student>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Date</label>
                        </div>
                    </div>
                     <div class="col-md-4">
                        <div class="form-group">
                            <label>Details</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Ref No.</label>
                        </div>
                    </div> 
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="date" placeholder="mm/dd/yyyy" class="form-control" ng-model="date" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <!--<input type="text" placeholder="Details" class="form-control" ng-model="details" />-->
							<select name="" id="" class="form-control" ng-model="Detail" ng-options="dt as dt.name for dt in Details "></select>
						</div>
                    </div>
                     <div class="col-md-4">
                        <div class="form-group">
                            <input type="text" placeholder="{{Detail.id=='OTHRS'?'Reference No.':'Auto'}}" class="form-control" ng-model="Ref_no" ng-disabled="Detail.id!='OTHRS'" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Amount</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">
									<span ng-if="type">{{type==='credit'?'Charge':'Pay'}}</span>
                                </span>
                                <input type="number" class="form-control" ng-model="Amount" ng-disabled="!type" />
                                <div class="input-group-btn">
                                    <button class="btn btn-default" ng-class="{'btn-success ': type=='credit'}" ng-click="setType('credit')">
										<span class="glyphicon glyphicon-plus"></span>
									</button>
                                    <button class="btn btn-default" ng-class="{'btn-danger ': type=='debit'}" ng-click="setType('debit')">
										<span class="glyphicon glyphicon-minus"></span>
									</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
				<div class="row">
					<div class="col-md-12">
						<label for="">Notes</label>
						<input type="text" class="form-control" ng-model="Notes" />
					</div>
				</div>
                <div class="row hide">
                    <div class="col-md-6">
                        <div class="form-group"><label>Journal Entry</label></div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group text-right">
                            <div class="btn-group btn-group-xs">
                                <button class="btn btn-default">SINGLE</button>
                                <button class="btn btn-primary">MUTIPLE</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row hide">
                    <div class="col-md-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-center col-md-6">Particular</th>
                                    <th class="text-center col-md-2">Debit</th>
                                    <th class="text-center col-md-2">Credit</th>
                                    <th class="text-center col-md-2">Balance</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>11/25 OR123 Initial Payment </td>
                                    <td class="text-right">500.00</td>
                                    <td class="text-right">-</td>
                                    <td class="text-right">(500.00)</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
			<form id="PrintLedger" action="api/reports/dcmemo" method="POST" target="_blank">
				<input type="hidden" value="{{LedgerEntry}}" name="entry" />
			</form>
            <div class="modal-footer">
                <button class="btn btn-defaultm hide" type="button" ng-click="confirmLedger()">Append</button>
                <button class="btn btn-primary" type="button" ng-click="confirmLedger()" ng-show="!Saving" ng-disabled="!Amount||!Account">Confirm</button>
                <button class="btn btn-primary" type="button" ng-show="Saving" disabled >Saving...</button>
                <button class="btn btn-default pull-left" type="button" ng-click="cancelLedger()">Cancel</button>
            </div>
        </script>
    </div>
	
</div>