<div ng-controller="LedgerController" ng-init="list()">
	<button class="btn btn-primary btn-fab bottom right fixed" ng-click="openModal()">
	<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
	</button>
	<div class="row">
	
		<div class="col-md-6">
			<div class="list-group">
				<div class="list-group-item list-group-header">
					<div class="btn-group btn-group-sm pull-right" uib-dropdown>
						<button class="btn btn-default disabled">{{FirstItem}} - {{LastItem}} of {{TotalItems}}</button>
						<button class="btn btn-default" ng-disabled="!PrevPage || DataLoading" ng-click="navigatePage(PrevPage)"><span class="glyphicon glyphicon-chevron-left"></span></button>
						<button class="btn btn-default" ng-disabled="!NextPage || DataLoading" ng-click="navigatePage(NextPage)"><span class="glyphicon glyphicon-chevron-right"></span></button>
						
						  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" uib-dropdown-toggle>
							<span class="glyphicon glyphicon-filter"></span>
						  </button>
						  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
							<li><a href="#/">Sort</a></li>
							<li><a href="#/">Filter</a></li>
							<li><a href="#/">Go to Page</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#/">Some other link</a></li>
							
						  </ul>
					</div>
					<label class="clear-fix">Student Ledgers</label>
				</div>
				<div class="list-group-canvas list-group-search-results" >
					<div class="list-group-item text-center" ng-if="searchLedger">
						<h4 class="list-group-item-heading">Search result(s) for <b><i>{{searchLedger}}</i></b>.</h4>
						<p class="list-group-item-text">
							Click the <span class="glyphicon glyphicon-search" aria-hidden="true"></span> to look further.
							Click the <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> to cancel.
						</p>
					</div>
					<div class="list-group-item" ng-hide="DataLoading" ng-class="{active: ledger.id===Ledger.id}" ng-repeat="ledger in Ledgers | filter: filterLedger" ng-click="openLedgerInfo(ledger)">
						<div class="row" >
							<div class="col-md-6">
								<h4 class="list-group-item-heading" >{{ledger.details}}</h4>
								<p class="list-group-item-text">
								<span ng-if="!ledger.account.account_name.length">No Details</span>
								<span>{{ledger.date}}</span> | <span>{{ledger.account.account_name}}</span></p>
							</div>
							<div class="col-md-6">
								<h3 class="amount {{ledger.type}}"><span class="flag">{{ledger.type=='debit'?'-':'+'}}</span>{{ledger.amount | currency: 'P'}}</h3>
							</div>
						</div>
					</div>
					<div class="list-group-item text-center" ng-if="!Ledgers.length || DataLoading">
						Loading...
					</div>
				</div>
				<div class="list-group-item list-group-search-box">
					<div class="input-group"> 
						<div class="input-group-btn"><button class="btn btn-default" ng-click="confirmSearch()"><span class="glyphicon glyphicon-search"></span></button></div>
						<input type="text" class="form-control" placeholder="Search" ng-model="searchLedger"/>
						<div class="input-group-btn"><button class="btn btn-default" ng-click="clearSearch()"><span class="glyphicon glyphicon-remove"></span></button></div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="list-group">
				<div class="list-group-item list-group-header">
					<label ng-if="Ledger">{{Ledger.account.account_name}}</label>
					<label ng-if="!Ledger">Ledger Information</label>
					<div class="pull-right">
					<div class="btn-group btn-group-xs " uib-dropdown ng-hide="true">
						  <button class="btn btn-default dropdown-toggle" type="button"  uib-dropdown-toggle>
							<span class="glyphicon glyphicon-chevron-down"></span>
						  </button>
						  <ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu1">
							<li><a ng-click="deleteLedger(Ledger.id)">Delete</a></li>
						  </ul>
					</div>
					<button class="btn btn-xs btn-danger" ng-click="removeLedgerInfo()"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
					</div>
				</div>
				<div class="list-group-canvas">
					<div class="list-group-item list-group-header" ng-show="hasInfo">
						<h5>Account Information</h5>
					</div>
					<div class="list-group-item" ng-show="hasInfo">
						<dl class="dl-horizontal">
								<dt>Account No.</dt>
								<dd>{{Ledger.account.account_no}}</dd>
								<dt>Account Name</dt>
								<dd>{{Ledger.account.account_name}}</dd>
						</dl>
					</div>
					<div class="list-group-item list-group-header" ng-show="hasInfo">
						<h5>Transaction Information</h5>
					</div>
					<div class="list-group-item" ng-show="hasInfo">
						<dl class="dl-horizontal">
								<dt>Date</dt>
								<dd>{{Ledger.date}}</dd>
								<dt>Ref No.</dt>
								<dd>{{Ledger.ref_no}}</dd>
								<dt>Transaction</dt>
								<dd>{{Ledger.details}}</dd>
								<dt>Ref No.</dt>
								<dd>{{Ledger.amount}}</dd>
						</dl>
					</div>
					<div class="list-group-item" ng-show="hasNoInfo">
						<div class="well">
							<span>No Information</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/ng-template" id="myModalContent.html">
			<div class="modal-header">
				<h3 class="modal-title">Ledger Information</h3>
			</div>
			<div class="modal-body">
			
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<label>Account</label>
						</div>						
					</div>
					
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
						
						{{Account}}
	<simple-typeahead model="Account" endpoint="students"
											placeholder="['Student','Search subject...']" fields="['first_name']"></simple-typeahead>
							<input type="text" placeholder="Account Name" class="form-control" ng-model="accountName" uib-typeahead="accountName for accountName in accountNames | filter:$viewValue | limitTo:8" class="form-control"/>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
							<label>Date</label>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label>Ref No.</label>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label>Details</label>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" placeholder="Date" class="form-control" ng-model="date"/>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" placeholder="Ref No." class="form-control" ng-model="refNo"/>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="text" placeholder="Details" class="form-control" ng-model="details"/>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<label>Amount</label>
						</div>						
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<div class="input-group input-group-lg">
								<span class="input-group-addon">
									<span ng-if="type">{{type==='credit'?'Credit':'Debit'}}</span>
								</span>
								<input type="number" class="form-control" ng-model="amount"/>
								<div class="input-group-btn">
									<button class="btn btn-default" ng-class="{'btn-success': type==='credit'}"ng-click="setType('credit')">
										<span class="glyphicon glyphicon-plus"></span>
									</button>
									<button class="btn btn-default" ng-class="{'btn-danger': type==='debit'}" ng-click="setType('debit')">
										<span class="glyphicon glyphicon-minus"></span>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row hide">
					<div class="col-md-6">
						<div class="form-group"><label>Journal Entry</label></div>
					</div>
					<div class="col-md-6">
						<div class="form-group text-right">
							<div class="btn-group btn-group-xs">
								<button class="btn btn-default">SINGLE</button>
								<button class="btn btn-primary">MUTIPLE</button>
							</div>
						</div>
					</div>
				</div>
				<div class="row hide">
					<div class="col-md-12">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th class="text-center col-md-6">Particular</th>
									<th class="text-center col-md-2">Debit</th>
									<th class="text-center col-md-2">Credit</th>
									<th class="text-center col-md-2">Balance</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>11/25 OR123 Initial Payment </td>
									<td class="text-right">500.00</td>
									<td class="text-right">-</td>
									<td class="text-right">(500.00)</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-defaultm hide" type="button" ng-click="confirmLedger()">Append</button>
				<button class="btn btn-primary" type="button" ng-click="confirmLedger()">Confirm</button>
				<button class="btn btn-default pull-left" type="button" ng-click="cancelLedger()">Cancel</button>
			</div>
		</script>
	</div>
</div>